<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header style="background-color: brown; color: aliceblue; text-align: center; margin-bottom: 10px; padding-bottom:20px">
        <h1>Blog Project</h1>

        <div>
            <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer style="background-color: black; color: aliceblue; text-align: center; margin-top: 10px; padding:20px">
        &copy; Copyrights 2026
    </footer>

    {% block scripts %}
    {% endblock %}
</body>

</html>