{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat autem dicta ipsa id. Iure ipsam impedit possimus error voluptas! Fugiat eos possimus ipsam voluptatum quasi veritatis incidunt rem necessitatibus facere?
    Autem cumque perferendis nam cupiditate iusto fugiat quo doloremque ducimus corporis architecto quia, odio alias repellat incidunt accusamus neque distinctio sequi odit excepturi culpa debitis? Vitae numquam voluptatibus aperiam temporibus!
    Alias explicabo doloremque laborum porro repellat. Nemo consectetur beatae quidem veritatis unde perspiciatis sint quod, quibusdam sit inventore, cumque id laboriosam quas ad nobis earum labore praesentium impedit assumenda ratione!
    Est ipsam voluptate nostrum quidem ipsum. Reiciendis quos, nobis earum voluptas magni distinctio aspernatur optio? Consectetur officia molestias, corrupti, dignissimos laborum accusamus, temporibus dolorem eius recusandae aliquam delectus! Distinctio, harum.
    Voluptates, suscipit praesentium doloremque, non quisquam sapiente porro cumque minima mollitia nulla culpa enim repellendus tempore atque qui ex necessitatibus! Quibusdam, eos neque corrupti expedita suscipit accusamus necessitatibus voluptas! Quae?
</p>
{% endblock %}

{% block scripts %}
<script>
    alert("Hello")
</script>
{% endblock %}