{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<address>
    Street name, Buidling Name, Room no.<br>
    City name, Pincode
</address>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa ipsum labore ut, adipisci mollitia maxime saepe quidem nisi obcaecati cumque officiis, temporibus reiciendis ratione ab magnam tempora eligendi voluptates?
</p>
{% endblock %}

{% block styles %}
<style>
    p{
        color: blueviolet;
    }
</style>
{% endblock %}